<p> Location: <%= @travel.location %><br>
Activity: <%= @travel.activity %><br>
Date: <%= @travel.date %><br> </p>

<form method="POST" action="/travels/<%=@travel.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Travel">
</form>

<a href="/travels/<%=@travel.id%>/edit">Edit Trip </a>
